{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passportal</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"
  </head>
  <body>
    <div class="navbar">
      <div class="left">
      <img id="alcherlogo1" src="{% static "images/alcherlogo1.svg" %}" alt="alcherlogo">
      <h1>ALCHERINGA</h1>
      </div>
      <button id="buypasses"> BUY YOUR PASSES HERE </button>
  </div>
  <div class="body">
    <img class="topimg" src="{% static "images/BG-min.png" %}">

    <div class="passdiv">
      <h1 class="headtxt">ALCHERINGA PASSES</h1>
      
      <div>
        <div style="display: flex;justify-content: space-between">
          <div >
      <h2 class="headtxt">ALL SEASON PASSES</h2>
      <p class="alchertxt">These passes includes everyday passes within it.</p>
      </div>
      <img class="hand" src="{% static "images/UpHand.png" %}">
      </div>

    <div class="seasonpass">
      <div >
        <div class="earlybird" style="background: url('{% static "images/EarlyBird.png" %}') center/cover no-repeat;">
    <h2 class="headtxt">EARLY BIRD SEASON PASS</h2>
    <p class="alchertxt">{{ context.EarlyBird.date }}</p>
    <p class="alchertxt" >{{ context.EarlyBird.price }}</p>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;
    color:black;">REGISTER &rarr;</a></button></div>
    </div>

    <div >
      <div class="earlybird" style="background: url('{% static "images/Normal.png" %}') center/cover no-repeat;">
    <h2 class="headtxt">NORMAL SEASON PASS</h2>
    <p class="alchertxt" >Date: {{ context.Normal.date }}</p>
    <p class="alchertxt" >Price: {{ context.Normal.price }}</p>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;
    color:black;">REGISTER &rarr;</a></button></div>
    </div>
    </div>
    </div>

    <div  >
    <h2 class="headtxt">DAY WISE PASSES</h2>
    <p class="alchertxt">These passes includes single-day pass as mentioned on it.</p>
    <div class="seasonpass">
      <div >
        <div class="day1" style="background: url('{% static "images/Day1.png" %}') center/cover no-repeat;">    
    <h2 class="headtxt">Day 1</h2>
    <p class="alchertxt">Date: {{ context.Day1.date }}</p>
    <p class="alchertxt">Price: {{ context.Day1.price }}</p>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;
    color:black;">REGISTER &rarr;</a></button></div>
    </div>

    <div >
      <div class="day1" style="background: url('{% static "images/Day2.png" %}') center/cover no-repeat;"> 
    <h2 class="headtxt">Day 2</h2>
    <p class="alchertxt">Date: {{ context.Day2.date }}</p>
    <p class="alchertxt">Price: {{ context.Day2.price }}</p>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;
    color:black;">REGISTER &rarr;</a></button></div>
</div>

<div >
  <div class="day1" style="background: url('{% static "images/Day3.png" %}') center/cover no-repeat;">
    <h2 class="headtxt">Day 3</h2>
    <p class="alchertxt">Date: {{ context.Day3.date }}</p>
    <p class="alchertxt">Price: {{ context.Day3.price }}</p>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;
    color:black;">REGISTER &rarr;</a></button></div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </body>
</html>
