{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "register/register.css" %}">
</head>
<body>
    <div class="navbar">
        <div class="left">
        <img id="alcherlogo1" src="{% static "images/alcherlogo1.svg" %}" alt="alcherlogo">
        <h1>ALCHERINGA</h1>
        </div>
        <button id="buypasses"> BUY YOUR PASSES HERE </button>
    </div>
    <div class="intro">
        <h1 id="heading2">ALCHERINGA</h1>
        <p id="introtext">Welcome to Alcheringa!! Please enter each of your attendee's names <br>and select the kind of
            pass for each of it.</p>
    </div>
    <div class="Attendeedetails">
        <form method="POST" name="reg" novalidate>
            {% csrf_token %}
            <h id="attendee">ATTENDEE DETAILS</h>
            <div class="primary">
                <h3>PRIMARY ATTENDEE</h3>
                <select class="passtype" name="Lpasstype" id="passt-1" required>
                    <option class="passoption" value="" disabled {% if form_data.Lpasstype|default:'' == '' %}selected{% endif %}>SELECT PASS TYPE</option>
                    <option class="passoption" value="NORMAL" {% if form_data.Lpasstype|default:'' == 'NORMAL' %}selected{% endif %}>NORMAL</option>
                    <option class="passoption" value="VIP" {% if form_data.Lpasstype|default:'' == 'VIP' %}selected{% endif %}>VIP</option>
                    <option class="passoption" value="SUPER VIP" {% if form_data.Lpasstype|default:'' == 'SUPER VIP' %}selected{% endif %}>SUPER VIP</option>
                </select>
                <div class="info"> ⓘ</div>
            </div>
        
            <div class="details">
                <div class="div1">
                    <input type="text" placeholder="Full Name" id="name-1" class="detailbox name" required minlength="2" name="LeaderName" value="{{ form_data.LeaderName|default:'' }}">

                    <select id="gender-1" class="detailbox gender" name="LeaderGender" required>
                        <option class="genderoption" value="" disabled {% if form_data.LeaderGender|default:'' == '' %}selected{% endif %}>Gender</option>
                        <option class="genderoption" value="Male" {% if form_data.LeaderGender|default:'' == 'Male' %}selected{% endif %}>Male</option>
                        <option class="genderoption" value="Female" {% if form_data.LeaderGender|default:'' == 'Female' %}selected{% endif %}>Female</option>
                        <option class="genderoption" value="Other" {% if form_data.LeaderGender|default:'' == 'Other' %}selected{% endif %}>Other</option>
                    </select>
                    <input type="number" placeholder="Age" id="age-1" class="detailbox age" required min="1"
                        name="LeaderAge" value="{{ form_data.LeaderAge|default:'' }}">
                </div>
                <div class="div2">
                    {% comment %} <div class="einput">
                        <input type="email" class="vinput" name="LeaderEmail" autofocus required>
                        <img src="{% static 'img/Vector.png' %}" alt="">
                    </div> {% endcomment %}
                    <input type="email" placeholder="Email-ID" id="email-1" class="detailbox email em" required
                        minlength="2" name="LeaderEmail" value="{{ form_data.LeaderEmail|default:'' }}">
                    {% comment %} <img src="{% static 'img/Vector.png' %}" alt=""> {% endcomment %}
                    <input type="tel" placeholder="Contact Number" id="number-1" class="detailbox number" required pattern="[0-9]{10}" name="LeaderContact_no" value="{{ form_data.LeaderEmail|default:'' }}">
                </div>
                <div class="div3">
                    <select id="idtype-1" class="detailbox idtype" name="LeaderIDtype" required>
                        <option class="idoption" value="" disabled {% if form_data.LeaderIDtype|default:'' == '' %}selected{% endif %}>Select your ID type</option>
                        <option class="idoption" value="College ID" {% if form_data.LeaderIDtype|default:'' == 'College ID' %}selected{% endif %}>College ID</option>
                        <option class="idoption" value="Adhaar ID" {% if form_data.LeaderIDtype|default:'' == 'Adhaar ID' %}selected{% endif %}>Adhaar ID</option>
                        <option class="idoption" value="Driver's License" {% if form_data.LeaderIDtype|default:'' == 'Driver\'s License' %}selected{% endif %}>Driver's License</option>
                        <option class="idoption" value="Voter's ID" {% if form_data.LeaderIDtype|default:'' == 'Voter\'s ID' %}selected{% endif %}>Voter's ID</option>
                        <option class="idoption" value="Other" {% if form_data.LeaderIDtype|default:'' == 'Other' %}selected{% endif %}>Other</option>

                    </select>
                    <input type="number" placeholder="ID Number" id="idnum-1" class="detailbox idnum" required minlength="1"
                        name="LeaderIDnumber" value="{{ form_data.LeaderIDnumber|default:'' }}">
                </div>
            </div>
            <div id="add-container_2"></div>
            <div class="addandremove">
                <button type="button" class="add bigf" id="press-1"> &#43; ADD ATTENDEE</button>
                <button type="button" class="remove bigf" id="press-2" style="display: none;"> &#45; REMOVE</button>
            </div>
            <div>
                <button type="submit" class="submitbtn bigf">SUBMIT AND PAY</button>
            </div>
        </form>
        <div class="welcometxt">
            Team Alcheringa Welcomes you to the 28th edition of
        </div>
        <div class="footer">
            <div class="ribbon-case">
                <div class="footer-iit">IIT GUWAHATI'S</div>
                <div class="footer-alcher">ALCHERINGA</div>
            </div>
            <div class="contact">
                <div class="contact-info">
                    <span class="namee">Siddant Singh</span>
                    <span class="phone">+91 9310859978</span>
                    <span class="emaile">siddant.s@alcheringa.in</span>
                </div>
                <div class="contact-info">
                    <span class="namee">Siddant Singh</span>
                    <span class="phone">+91 9310859978</span>
                    <span class="emaile">siddant.s@alcheringa.in</span>
                </div>
                <div class="following">
                    <span style="margin-bottom: 1.5vh;font-size:1.12vw;">Follow us on</span>
                    <div id="footer-icons">
                        <a href="/" target="_blank"><i class="bi bi-instagram"
                                style=" color:white;font-size:1.5vw;"></i></a>
                        <a href="" target="_blank"><i class="bi bi-facebook"
                                style="margin-left: 1.5vw; color:white;font-size:1.5vw;"></i></a>
                        <a href="https://twitter.com/alcheringaiitg" target="_blank"><i class="bi bi-twitter" style="margin-left: 1.5vw; color:white;font-size:1.5vw;"></i></a>
                        <a href="https://www.youtube.com/c/AlcheringaIITG" target="_blank">
                            <i class="bi bi-youtube" style="margin-left: 1.5vw; color:white;font-size:1.5vw;"></i>
                        </a>
                    </div>


                </div>

            </div>
            <div class="creator-info">
                <div style="display: inline;">Designed and Developed by <p
                        style="display: inline;border-bottom:1px solid white;">Alcher Creatives</p> & <p
                        style="display: inline;;border-bottom:1px solid white"> Alcher Web Operations</p>
                </div>
                <div class="business-contact">
                    <p style="margin-bottom:0.5vh;">For Business Enquiries</p>
                    <p style="margin-top:0.5vh;margin-bottom:0vh;">publicrelations24@alcheringa.in</p>
                </div>
            </div>
        </div>
        <div class="mobile-footer">
            <div class="ribbon-case">
                <div class="footer-iit">IIT GUWAHATI'S</div>
                <div class="footer-alcher">ALCHERINGA</div>
            </div>

            <div class="contact-footer">
                <div class="people-contact">
                    <div style="margin-bottom:4vh" class="contact-info">
                        <span class="name">Siddant Singh</span>
                        <span class="phone">+91 9310859978</span>
                        <span class="emaile">siddant.s@alcheringa.in</span>
                    </div>
                    <div class="contact-info">
                        <span class="name">Siddant Singh</span>
                        <span class="phone">+91 9310859978</span>
                        <span class="emaile">siddant.s@alcheringa.in</span>
                    </div>
                </div>
                <div class="following-footer">
                    <p style="margin-bottom:0px;margin-top:0px;font-size:2.2vw">Follow us</p>
                    <p style="margin-top:0px;font-size:2.2vw">on</p>
                    <a href="/" target="_blank"><i class="bi bi-instagram" style=" color:white;font-size:3vw;"></i></a>
                    <a href="" target="_blank"><i class="bi bi-facebook" style=" color:white;font-size:3vw;"></i></a>
                    <a href="https://twitter.com/alcheringaiitg" target="_blank"><i class="bi bi-twitter"
                            style=" color:white;font-size:3vw;"></i></a>
                    <a href="https://www.youtube.com/c/AlcheringaIITG" target="_blank"><i class="bi bi-youtube"
                            style=" color:white;font-size:3vw;"></i></a>
                </div>
            </div>
            <div style="display: inline;font-size:2.2vw;width:100%;margin-left:10%;margin-bottom:2vh">Designed and
                Developed by <p style="display: inline;border-bottom:1px solid white;">Alcher Creatives</p> & <p
                    style="display: inline;;border-bottom:1px solid white"> Alcher Web Operations</p>
            </div>

        </div>
        <div class="bottombar">
            <div class="price">
                <p id="total">Total Amount : &#8377 0</p>
            </div>
        </div>

        <script>
            const form = document.querySelector('form[name="reg"]');
            const container = document.querySelector('#add-container_2');
            const removeBtn = document.querySelector('#press-2');
            let count = 1;
            
            form.addEventListener('submit', handleFormSubmit);
            document.querySelector('#press-1').addEventListener('click', addPage);
            removeBtn.addEventListener('click', deletePage);
            
            function addPage() {
                count++;
                var code = `<div class="primary">
            <h3>ATTENDEE</h3>
            <select class="passtype" name="pass_type" id="passt-${count}" required>
                <option class="passoption" value="" disabled selected>SELECT PASS TYPE</option>
                <option class="passoption" value="NORMAL">NORMAL</option>
                <option class="passoption" value="VIP">VIP</option>
                <option class="passoption" value="SUPER VIP">SUPER VIP</option>
            </select>
            <div class="info"> &#9432</div>
        </div>

            <div class="details">
                <div class="div1">
                        <input type="text" placeholder="Full Name" id="name-${count}" class="detailbox name" required minlength="2" name="name">

                    <select id="gender-${count}" class="detailbox gender" name="gender" required>
                        <option class="genderoption" value="" disabled selected>Gender</option>
                        <option class="genderoption" value="Male">Male</option>
                        <option class="genderoption" value="Female">Female</option>
                        <option class="genderoption" value="Other">Other</option>
                    </select>
                    <input type="number" placeholder="Age" id="age-${count}" class="detailbox age" required min="1" name="age">
                </div>
                <div class="div2">
                        <input type="email" placeholder="Email-ID" id="email-${count}" class="detailbox vinput email em" required minlength="2" name="email">
                    <input type="tel" placeholder="Contact Number" class="detailbox number" id="number-${count}" required pattern="[0-9]{10}" minlength="2" name="contact_no">
                </div>
                <div class="div3">
                    <select id="idtype-${count}" class="detailbox idtype" name="IDtype" required>
                        <option class="idoption" value="" disabled selected>Select your ID type</option>
                        <option class="idoption" value="College ID">College ID</option>
                        <option class="idoption" value="Adhaar ID">Adhaar ID</option>
                        <option class="idoption" value="Driver's License">Driver's License</option>
                        <option class="idoption" value="Voter's ID">Voter's ID</option>
                        <option class="idoption" value="Other">Other</option>

                    </select>
                    <input type="number" placeholder="ID Number" id="idnum-${count}" class="detailbox idnum" required minlength="1" name="IDnumber">
                </div>
            </div>`;
                container.insertAdjacentHTML("beforeend", code);

                if (count == 2) {
                    removeBtn.style.display = "inline-block";
                }
            }
              document.addEventListener('input',function(){
                const emaili=document.getElementsByClassName('em');
                const emailReg = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,4})$/;
                for (const email of emaili) {
                if((email.value).match(emailReg)){
                    email.classList.add('valid')
                }
                else{
                    email.classList.remove('valid')
                }
            }
              })
              const peeps=[];
              document.addEventListener('change', function() {
                const passes = document.getElementsByClassName('passtype');
                const peeps = [];
                let count = 0;
                for (const pass of passes) {
                  count++;
                  if (peeps.length < count) {
                    if (pass.value === "NORMAL") {
                      peeps.push(550);
                    } else if (pass.value === "VIP") {
                      peeps.push(750);
                    } else if (pass.value === "SUPER VIP") {
                      peeps.push(850);
                    }
                  } else {
                    if (pass.value === "NORMAL") {
                      peeps[count - 1] = 500;
                    } else if (pass.value === "VIP") {
                      peeps[count - 1] = 750;
                    } else if (pass.value === "SUPER VIP") {
                      peeps[count - 1] = 850;
                    }
                  }
                  if (pass.value) {
                    pass.classList.add('passselected');
                    pass.classList.remove('red');
                  }
                }
                let Amount = 0;
                for (const i of peeps) {
                  Amount += i;
                }
                document.getElementById("total").innerHTML = "Total Amount : &#8377 " + Amount;
              });

            function deletePage() {
                count--;
                let elm = container.lastElementChild;
                let elm2 = container.lastElementChild.previousElementSibling;
                container.removeChild(elm);
                container.removeChild(elm2);

                if (count == 1) {
                    removeBtn.style.display = "none";
                }
            }
            function handleFormSubmit(event) {
                event.preventDefault();
                let valid = true;
                const fields = [];
                for (let i = 1; i <= count; i++) {
                  fields.push(`name-${i}`);
                  fields.push(`number-${i}`);
                  fields.push(`gender-${i}`);
                  fields.push(`age-${i}`);
                  fields.push(`email-${i}`);
                  fields.push(`idtype-${i}`);
                  fields.push(`idnum-${i}`);
                }
                fields.forEach(fieldName => {
                  const field = document.querySelector(`#${fieldName}`);
                  if (!field.checkValidity()) {
                    valid = false;
                    field.classList.add('err');
                    field.classList.remove('valid');
                  } else {
                    field.classList.remove('err');
                    field.classList.add('valid');
                  }
                });
                const passt=[];
                for (let i = 1; i <= count; i++) {
                    passt.push(`passt-${i}`);
                  }
                passt.forEach(nun=>{
                    const i =  document.querySelector(`#${nun}`);
                    if(!i.checkValidity()){
                      valid = false;
                       i.classList.add('red');
                    }
                })
                if (valid) {
                  form.submit();
                }
              }

        </script>
</body>

</html>