{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'register/register.css' %}">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
    <script src="https://kit.fontawesome.com/142d47f396.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <div class="left">
        <img id="alcherlogo1" src="{% static 'images/alcherlogo1.svg' %}" alt="alcherlogo">
        <h1>ALCHERINGA</h1>
        </div>
    </div>
    <div class="intro">
        <h1 id="heading2">ALCHERINGA</h1>
        <p id="introtext">Welcome to Alcheringa!! Please enter each of your attendee's names <br>and select the kind of
            pass for each of it.</p>
    </div>
    <div class="Attendeedetails">
        <form method="POST" name="reg" novalidate>
            {% csrf_token %}
            <h id="attendee">ATTENDEE DETAILS</h>
            <div class="primary">
                <h3>PRIMARY ATTENDEE</h3>
                <select class="passtype" name="Lpasstype" id="passt-1" required>
                    <option class="passoption" value="" disabled {% if form_data.Lpasstype|default:'' == '' %}selected{% endif %}>SELECT PASS TYPE</option>
                    {%for  pt in prices %}
                    <option class="passoption" value="{{ pt }}" {% if form_data.Lpasstype|default:'' == pt %}selected{% endif %}>{{ pt }}</option>
                    {% endfor %}
                    {% comment %} <option class="passoption" value="VIP" {% if form_data.Lpasstype|default:'' == 'VIP' %}selected{% endif %}>VIP</option>
                    <option class="passoption" value="SUPER VIP" {% if form_data.Lpasstype|default:'' == 'SUPER VIP' %}selected{% endif %}>SUPER VIP</option> {% endcomment %}
                </select>
                <div class="info"> ⓘ</div>
            </div>
        
            <div class="details">
                <div class="div1">
                    <input type="text" placeholder="Full Name" id="name-1" class="detailbox name" required minlength="2" name="LeaderName" value="{{ form_data.LeaderName|default:'' }}">

                    <select id="gender-1" class="detailbox gender" name="LeaderGender" required>
                        <option class="genderoption" value="" disabled {% if form_data.LeaderGender|default:'' == '' %}selected{% endif %}>Gender</option>
                        <option class="genderoption" value="Male" {% if form_data.LeaderGender|default:'' == 'Male' %}selected{% endif %}>Male</option>
                        <option class="genderoption" value="Female" {% if form_data.LeaderGender|default:'' == 'Female' %}selected{% endif %}>Female</option>
                        <option class="genderoption" value="Other" {% if form_data.LeaderGender|default:'' == 'Other' %}selected{% endif %}>Other</option>
                    </select>
                    <input type="number" placeholder="Age" id="age-1" class="detailbox age" required min="1"
                        name="LeaderAge" value="{{ form_data.LeaderAge|default:'' }}">
                </div>
                <div class="div2">
                    {% comment %} <div class="einput">
                        <input type="email" class="vinput" name="LeaderEmail" autofocus required>
                        <img src="{% static 'img/Vector.png' %}" alt="">
                    </div> {% endcomment %}
                    <input type="email" placeholder="Email-ID" id="email-1" class="detailbox email em" required
                        minlength="2" name="LeaderEmail" value="{%if leadermail %}
                        {{leadermail}}
                        {%else%}{{form_data.LeaderEmail}}{%endif%}" readonly>
                    {% comment %} <img src="{% static 'img/Vector.png' %}" alt=""> {% endcomment %}
                    <input style="display:none;" id="code-1" value="+91" name="code">
                    <input type="tel" placeholder="Contact Number" id="number-1" class="detailbox number cnumber" required pattern="[0-9]{10}" name="LeaderContact_no" value="{{ form_data.LeaderContact_no|default:'' }}">
                </div>
                <div class="div3">
                    <select id="idtype-1" class="detailbox idtype" name="LeaderIDtype" required>
                        <option class="idoption" value="" disabled {% if form_data.LeaderIDtype|default:'' == '' %}selected{% endif %}>Select your ID type</option>
                        <option class="idoption" value="College ID" {% if form_data.LeaderIDtype|default:'' == 'College ID' %}selected{% endif %}>College ID</option>
                        <option class="idoption" value="Adhaar ID" {% if form_data.LeaderIDtype|default:'' == 'Adhaar ID' %}selected{% endif %}>Adhaar ID</option>
                        <option class="idoption" value="Driver's License" {% if form_data.LeaderIDtype|default:'' == "Driver's License" %}selected{% endif %}>Driver's License</option>
                        <option class="idoption" value="Voter's ID" {% if form_data.LeaderIDtype|default:'' == "Voter's ID" %}selected{% endif %}>Voter's ID</option>
                        <option class="idoption" value="Other" {% if form_data.LeaderIDtype|default:'' == 'Other' %}selected{% endif %}>Other</option>
                        
                    </select>
                    <input  placeholder="ID Number" id="idnum-1" class="detailbox idnum" required minlength="1"
                        name="LeaderIDnumber" value="{{ form_data.LeaderIDnumber|default:'' }}">
                </div>
            </div>
            <div id="add-container_2">
                {% for member in members%}
                    <div class="primary">
                        <h3>ATTENDEE</h3>
                        <select class="passtype" name="pass_type" id="passt-{{ forloop.counter|add:'1' }}" required>
                            <option class="passoption" value="" disabled {% if member.pass_type|default:'' == '' %}selected{% endif %}>SELECT PASS TYPE</option>
                            <option class="passoption" value="NORMAL" {% if member.pass_type|default:'' == 'NORMAL' %}selected{% endif %}>NORMAL</option>
                            <option class="passoption" value="VIP" {% if member.pass_type|default:'' == 'VIP' %}selected{% endif %}>VIP</option>
                            <option class="passoption" value="SUPER VIP"{% if member.pass_type|default:'' == 'SUPER VIP' %}selected{% endif %}>SUPER VIP</option>
                        </select>
                        <div class="info"> &#9432</div>
                    </div>
            
                        <div class="details">
                            <div class="div1">
                                    <input type="text" placeholder="Full Name" id="name-{{ forloop.counter|add:'1' }}" class="detailbox name" required minlength="2" name="name" value="{{ member.name|default:'' }}">
            
                                <select id="gender-{{ forloop.counter|add:'1' }}" class="detailbox gender" name="gender" required>
                                    <option class="genderoption" value="" disabled {% if member.gender|default:'' == '' %}selected{% endif %}>Gender</option>
                                    <option class="genderoption" value="Male" {% if member.gender|default:'' == 'Male' %}selected{% endif %}>Male</option>
                                    <option class="genderoption" value="Female" {% if member.gender|default:'' == 'Female' %}selected{% endif %}>Female</option>
                                    <option class="genderoption" value="Other" {% if member.gender|default:'' == 'Other' %}selected{% endif %}>Other</option>
                                </select>

                                <input type="number" placeholder="Age" id="age-{{ forloop.counter|add:'1' }}" class="detailbox age" required min="1" name="age" value="{{ member.age|default:'' }}">
                            </div>
                            <div class="div2">
                                    <input type="email" placeholder="Email-ID" id="email-{{ forloop.counter|add:'1' }}" class="detailbox vinput email em" required minlength="2" name="email" value="{{ member.email|default:'' }}">
                                <input style="display:none;" id="code-{{ forloop.counter|add:'1' }}" name="code" value="{{ co|default:'' }}">
                                <input type="tel" placeholder="Contact Number" class="detailbox number cnumber" id="number-{{ forloop.counter|add:'1' }}" required pattern="[0-9]{10}" minlength="2" name="contact_no" value="{{ member.contact|default:'' }}">
                            </div>
                            <div class="div3">
                                <select id="idtype-{{ forloop.counter|add:'1' }}" class="detailbox idtype" name="IDtype" required>
                                    <option class="idoption" value="" disabled {% if member.id_type|default:'' == '' %}selected{% endif %}>Select your ID type</option>
                                    <option class="idoption" value="College ID" {% if member.id_type|default:'' == 'College ID' %}selected{% endif %}>College ID</option>
                                    <option class="idoption" value="Adhaar ID" {% if member.id_type|default:'' == 'Adhaar ID' %}selected{% endif %}>Adhaar ID</option>
                                    <option class="idoption" value="Driver's License" {% if member.id_type|default:'' == "Driver's ID" %}selected{% endif %}>Driver's License</option>
                                    <option class="idoption" value="Voter's ID" {% if member.id_type|default:'' == "Voter's ID" %}selected{% endif %}>Voter's ID</option>
                                    <option class="idoption" value="Other" {% if member.id_type|default:'' == 'Other' %}selected{% endif %}>Other</option>
            
                                </select>
                                <input  placeholder="ID Number" id="idnum-{{ forloop.counter|add:'1' }}" class="detailbox idnum" required minlength="1" name="IDnumber" value="{{ member.id_number|default:'' }}">
                            </div>
                        </div>
                    {% endfor%}
                
            </div>
            <div class="addandremove">
                <button type="button" class="add bigf unt " id="press-1"> <i class="fa-solid fa-plus"></i> ADD ATTENDEE</button>
                <button type="button" class="remove bigf unt" id="press-2" {%if members %} style="display: block;"{%else%} style="display: none;" {%endif%} > <i class="fa-solid fa-minus"></i> REMOVE</button>
            </div>
            <div>
                <button type="submit" class="submitbtn bigf">SUBMIT AND PAY</button>
            </div>
        </form>
        <div class="big">
        <div class="footer">
            <div class="welcometxt">
                Team Alcheringa Welcomes you to the 28th edition of
                <img class="star" src="{% static "images/Star.svg" %}" alt="">
            </div>
            <div class="ribbon-case">
                <div class="footer-iit">IIT GUWAHATI'S</div>
                <img class="star-2" src="{% static "images/Star.svg" %}" alt="">
                <div class="footer-alcher">ALCHERINGA</div>
                <img class="star-3" src="{% static "images/Star.svg" %}" alt="">
            </div>
            <div class="contact">
                <div class="left-detail">
                    <div class="contact-info">
                        <span class="namee">Siddant Singh</span>
                        <span class="phone">+91 9310859978</span>
                        <span class="emaile">siddant.s@alcheringa.in</span>
                    </div>
                    <div class="contact-info">
                        <span class="namee">Siddant Singh</span>
                        <span class="phone">+91 9310859978</span>
                        <span class="emaile">siddant.s@alcheringa.in</span>
                    </div>
                </div>
                <div class="following">
                    <span class="follow-us" >Follow us on</span>
                    <div id="footer-icons">
                        <a class="icon" href="/" target="_blank">
                            <i class="fa-brands fa-instagram insta"  style="color: #E8EDD9;"></i>
                        </a>
                        <a class="icon" href="" target="_blank">
                            <img src="{% static "images/facebook.svg" %}" class="facebook"  alt='' />
                        </a>
                        <a class="icon" href="https://twitter.com/alcheringaiitg" target="_blank"><i class="fa-brands fa-x-twitter X" style="color: #E8EDD9;"></i></i></a>
                        <a class="icon"  href="https://www.youtube.com/c/AlcheringaIITG" target="_blank">
                            <img src="{% static "images/youtube.svg" %}" class="youtube" alt='' />
                        </a>
                    </div>
                </div>



            </div>
            <div class="creator-info">
                <div style="display: inline;" class="credit">Designed and Developed by <p
                        style="display: inline;border-bottom:1px solid white;">Alcher Creatives</p> & <p
                        style="display: inline;;border-bottom:1px solid white"> Alcher Web Operations</p>
                </div>
                <div class="business-contact">
                    <p style="margin-bottom:0.5vh;">For Business Enquiries</p>
                    <p class="pub" style="margin-top:0.5vh;margin-bottom:0vh;">publicrelations24@alcheringa.in</p>
                </div>
            </div>
        </div>
        </div>
    </div>
        <div class="bottombar">
            <div class="price">
                <p id="total">Total Amount : &#8377 {% if tdata.amount %} {{tdata.amount}}
                    {%else%}
                        0
                    {%endif%}</p>
            </div>
            <div class="passes">
                {% for val,passes in passtype.items %}
               <div class="pa"> <div class="pas">{{passes}}</div><div class="n">:{{val}}</div></div>
               {% endfor %}
               {% comment %} <div class="pa"> <div class="pas">Day1 yahi</div><div class="n">:2</div></div>
               <div class="pa"> <div class="pas">Day1 yahi</div><div class="n">:3</div></div> {% endcomment %}
            </div>
        </div>
        
        <script>
            const form = document.querySelector('form[name="reg"]');
            const container = document.querySelector('#add-container_2');
            const removeBtn = document.querySelector('#press-2');
            let count = 1;
            {% if members %}
            count={{members|length}}
            count++;
            {% endif %}
            console.log(count);
            form.addEventListener('submit', handleFormSubmit);
            document.querySelector('#press-1').addEventListener('click', addPage);
            removeBtn.addEventListener('click', deletePage);
            for(let i=1;i<=count;i++){
                var input = document.querySelector(`#number-${i}`);
                window.intlTelInput(input, {
                    // utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
                    initialCountry: "in",          
                    showFlags:false,          
                    separateDialCode: true,
                });
            }
            //+91

            function addPage() {
                count++;
                console.log(count)
                var code = `<div class="primary">
            <h3>ATTENDEE</h3>
            <select class="passtype" name="pass_type" id="passt-${count}" required>
                <option class="passoption" value="" disabled selected>SELECT PASS TYPE</option>
                <option class="passoption" value="NORMAL">NORMAL</option>
                <option class="passoption" value="VIP">VIP</option>
                <option class="passoption" value="SUPER VIP">SUPER VIP</option>
            </select>
            <div class="info"> &#9432</div>
        </div>

            <div class="details">
                <div class="div1">
                        <input type="text" placeholder="Full Name" id="name-${count}" class="detailbox name" required minlength="2" name="name">

                    <select id="gender-${count}" class="detailbox gender" name="gender" required>
                        <option class="genderoption" value="" disabled selected>Gender</option>
                        <option class="genderoption" value="Male">Male</option>
                        <option class="genderoption" value="Female">Female</option>
                        <option class="genderoption" value="Other">Other</option>
                    </select>
                    <input type="number" placeholder="Age" id="age-${count}" class="detailbox age" required min="1" name="age">
                </div>
                <div class="div2">
                    <input type="email" placeholder="Email-ID" id="email-${count}" class="detailbox vinput email em" required minlength="2" name="email">
                    <input style="display:none;" id="code-${count}" name="code">    
                    <input type="tel" placeholder="Contact Number" class="detailbox number cnumber" id="number-${count}" required pattern="[0-9]{10}" minlength="2" name="contact_no">
                </div>
                <div class="div3">
                    <select id="idtype-${count}" class="detailbox idtype" name="IDtype" required>
                        <option class="idoption" value="" disabled selected>Select your ID type</option>
                        <option class="idoption" value="College ID">College ID</option>
                        <option class="idoption" value="Adhaar ID">Adhaar ID</option>
                        <option class="idoption" value="Driver's License">Driver's License</option>
                        <option class="idoption" value="Voter's ID">Voter's ID</option>
                        <option class="idoption" value="Other">Other</option>

                    </select>
                    <input placeholder="ID Number" id="idnum-${count}" class="detailbox idnum" required minlength="1" name="IDnumber">
                </div>
            </div>`;
                container.insertAdjacentHTML("beforeend", code);

                if (count == 2) {
                    removeBtn.style.display = "inline-block";
                }
                const input = document.querySelector(`#number-${count}`);
                window.intlTelInput(input, {
                    // utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
                    initialCountry: "in",          
                    showFlags:false,          
                    separateDialCode: true,
                });
            }
            const aprove=()=>{
                const emaili=document.getElementsByClassName('em');
                const emailReg = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,4})$/;
                for (const email of emaili) {
                if((email.value).match(emailReg)){
                    email.classList.add('valid')
                    email.classList.add('tgreen')
                }
                else{
                    email.classList.remove('valid')
                    email.classList.remove('tgreen')
                }
            }
        }
        
        aprove()
              document.addEventListener('input',aprove)
              const peeps=[];
              document.addEventListener('change', function() {
                const passes = document.getElementsByClassName('passtype');
                const peeps = [];
                let coun = 0;
                for (const pass of passes) {
                  coun++;
                  if (peeps.length < coun) {
                    {% for i,pp in prices.items%}
                    if (pass.value === "{{i}}") {
                        peeps.push({{pp }});
                    } 
                    {% endfor %}
                  } else {
                    {% for i,pp in prices.items%}
                    if (pass.value === "{{i}}") {
                        peeps[coun - 1] = {{pp}};
                    }
                    {% endfor %}
                  }
                  if (pass.value) {
                    pass.classList.add('passselected');
                    pass.classList.remove('red');
                  }
                }
                let Amount = 0;
                for (const i of peeps) {
                  Amount += i;
                }
                document.getElementById("total").innerHTML = "Total Amount : &#8377 " + Amount;
              });
              function un() {
                const passes = document.getElementsByClassName('passtype');
                const peeps = [];
                let coun = 0;
                for (const pass of passes) {
                  coun++;
                  if (peeps.length < coun) {
                    {% for i,pp in prices.items%}
                    if (pass.value === "{{i}}") {
                        peeps.push({{pp }});
                    } 
                    {% endfor %}
                  } else {
                    {% for i,pp in prices.items%}
                    if (pass.value === "{{i}}") {
                        peeps[coun - 1] = {{pp}};
                    }
                    {% endfor %}
                  }
                  if (pass.value) {
                    pass.classList.add('passselected');
                    pass.classList.remove('red');
                  }
                }
                let Amount = 0;
                for (const i of peeps) {
                  Amount += i;
                }
                document.getElementById("total").innerHTML = "Total Amount : &#8377 " + Amount;
              }
              un()
              function changeamount(){
                const passes = document.getElementsByClassName('passtype');
                const peeps = [];
                let coun = 0;
                for (const pass of passes) {
                  coun++;
                  if (peeps.length < coun) {
                    {% for i,pp in prices.items%}
                        if (pass.value === "{{i}}") {
                            peeps.push({{pp }});
                        }
                    {% endfor %}
                  } else {
                    {% for i,pp in prices.items%}
                    if (pass.value === "{{i}}"){
                        peeps[coun - 1] = {{ pp}};
                    }
                    {% endfor %}
                  }
                }
                let Amount = 0;
                for (const i of peeps) {
                  Amount += i;
                }
                document.getElementById("total").innerHTML = "Total Amount : &#8377 " + Amount;
            }
            changeamount()
            function deletePage() {
                count--;
                let elm = container.lastElementChild;
                let elm2 = container.lastElementChild.previousElementSibling;
                container.removeChild(elm);
                container.removeChild(elm2);
                changeamount()
                if (count == 1) {
                    removeBtn.style.display = "none";
                }
            }
            function handleFormSubmit(event) {
                const cc = document.getElementsByClassName("iti__selected-dial-code")
                for (let i = 1; i <= count; i++) {
                    let cod = document.querySelector(`#code-${i}`);
                    let num = document.querySelector(`#number-${i}`);
                    let c = cc[i-1]
                    let nextSibling = num.previousElementSibling;
                    cod.value = c.innerHTML;
                }
                event.preventDefault();
                let valid = true;
                const fields = [];
                for (let i = 1; i <= count; i++) {
                  fields.push(`name-${i}`);
                  fields.push(`number-${i}`);
                  fields.push(`gender-${i}`);
                  fields.push(`age-${i}`);
                  fields.push(`email-${i}`);
                  fields.push(`idtype-${i}`);
                  fields.push(`idnum-${i}`);
                }
                fields.forEach(fieldName => {
                  const field = document.querySelector(`#${fieldName}`);
                  
                  if (!field.checkValidity()) {
                    valid = false;
                    field.classList.add('err');
                    field.classList.remove('valid');
                    if(field.getAttribute("name") == 'gender' || field.getAttribute("name") == 'LeaderGender'){
                        field.classList.remove('ageval')
                        field.classList.add('ageerr')
                    }
                    if(field.getAttribute("name") == 'LeaderIDtype' || field.getAttribute("name") == 'IDtype'){
                        field.classList.add('idnumerr')
                        field.classList.remove('idnumval')
                    }
                    
                    
                } else {
                    field.classList.remove('err');
                    if(field.getAttribute("name") == 'gender' || field.getAttribute("name") == 'LeaderGender'){
                        field.classList.add('ageval')
                        field.classList.remove('ageerr')
                    }
                    if(field.getAttribute("name") == 'LeaderIDtype' || field.getAttribute("name") == 'IDtype'){
                        field.classList.remove('idnumerr')
                        field.classList.add('idnumval')
                    }
                    field.classList.add('valid');
                  }
                  if(field.type == "email"){
                    const emailReg = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,4})$/;
                if(!((field.value).match(emailReg))){
                    valid = false;
                    field.classList.add('err');
                    field.classList.remove('valid');
                }
                }
                });
                const passt=[];
                for (let i = 1; i <= count; i++) {
                    passt.push(`passt-${i}`);
                  }
                passt.forEach(nun=>{
                    const i =  document.querySelector(`#${nun}`);
                    if(!i.checkValidity()){
                      valid = false;
                       i.classList.add('red');
                    }
                })
                if (valid) {
                  form.submit();
                }
              }

        </script>
</body>

</html>