body{
    padding:5vw;
    font-family: 'Uncut Sans';
}
.topdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topdiv h1{
    font-size: 4vw;
    margin-bottom: 0.5vw;
}
.passdiv h1{
    font-size: 3vw;
}
.passdiv h2{
    font-size: 2vw;
}
.seasonpass{
    display: flex;
    gap:5vw;
}
.earlybird{
    background: #677DE0;
    border-radius:3vw;
    color:white;
}
.normal
{
    background: #F28E15;
    border-radius:3vw;
    color:white;  
}
.day1
{
    background: #04A0CB;
    border-radius:3vw;
    color:white;    
}
.day2
{
    background: #EA5B2B;
    border-radius:3vw;
    color:white;    
}
.day3
{
    background: #00A158;
    border-radius:3vw;
    color:white;    
}
.btndiv{
    display: flex;
    justify-content: flex-end;
}
.btn{
    background-color: #F6D317;
    margin-top: 1vw;
    border-radius: 1vw;
    padding-left: 1vw;
    padding-right:1vw;
}