@font-face {
    font-family: 'fsp-demo-freigeist-con-black-5';
    src: url(../Fontspring-DEMO-freigeist-conblack.otf);
  }
@font-face {
    font-family: 'Uncut-Sans';
    src: url(../Uncut-Sans-Regular.otf);
  }

body{
    background-color: #1e1e1e;
    padding:0;
    margin: 0;
    font-family: 'fsp-demo-freigeist-con-black-5';
    }
    /* .container{
        position: relative;
    }
    .container::before{
    background: url('../images/pattern.svg') ;
   background-blend-mode:color-burn;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
} */
.navContainer{
    position: absolute;
    width: 100%;
    z-index: 9;
}
.navbar{

    background-color: #E1E1E11A;
    color: #f4f4f4;
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9vw;
}
.iti{
    font-family: 'Uncut-Sans';
    margin-left: 1vw;
    font-size: 0.87rem;
}
input , select{
    font-family: 'Uncut-Sans';
}
.iti *{
    margin-bottom: 1px;
    color: white;
}
.left{
    display:flex;
    align-items:center;
}
.navbar button{
    font-family: 'fsp-demo-freigeist-con-black-5',sans-serif;
    font-size: 1.2rem;
}
#buypasses{
    background-color: #f6d317;
    border-radius: 0.7rem;
    padding: 0.2rem 1.5rem;
    border: none;
}
#alcherlogo1{
    height: 2.3rem;
    width: max-content;
  
}
h1{
   margin: 0 1vw;
   font-size: x-large;
}
.intro{
    text-align: center;
    color: #f4f4f4;
    margin-bottom: 4vw;
    font-family: 'Uncut-Sans';
}
.intro h1{
    font-family: 'fsp-demo-freigeist-con-black-5',sans-serif;
}
#heading2{
    font-size: 4.5vw;
    padding-bottom: 0;
    margin-top: 5vw;
    margin-bottom: 0.8vw;
}
#introtext{
    font-size: 1.2rem;
    margin-top: 0;

}
.Attendeedetails{
    color: #f4f4f4;
    
    
}
#attendee{
   
    font-size: 2.8vw;
    margin-left: 5vw;

}
h3{
    font-size: 2vw;
    margin-left: 5vw;
   
}
.primary{
    display: flex;
    margin-top: 2vh;
    align-items: center;
}
.bigf{
    font-family: 'fsp-demo-freigeist-con-black-5',sans-serif;
}
.div2{
    margin-top: 1.4vw;
}
.div3{
    margin-top: 1.4vw;
}
.passtype{
    color: #1e1e1e;
    background-color: #677de0;
    font-size: 1.4vw;
    padding: 0.3vw 2.2vw 0.3vw 0.6vw;
    border-radius: .2rem;
    margin-left: 2vw;
    border:none;
    font-family: 'fsp-demo-freigeist-con-black-5',sans-serif;

}
.info{
    margin-left: 1vw;
}

.details{
    margin-top: 2vh;
}
.detailbox{
    background-color: #1e1e1e;
    outline: none;
    border: none;
    font-size: 1.6vw;
    border-bottom: .3vh  solid #f4f4f4;
    color: #f4f4f4;
    padding: 3px 0px;
    
}
.detailbox2{
    background-color: #1e1e1e;
    border: none;
    color: #f4f4f4;
    padding: 3px 0px;
}
.name{
    margin-left: 5vw;
width:32vw;
}
.gender{
    width:14vw;
    color: rgba(244,244,244,.5);
    margin-left: 1vw;
}
.age{
    width:7vw;
    margin-left: 1vw;
}
.email{
    margin-left: 5vw;
    width:32vw;
}
.number{
    margin-left: 1vw;
    width: 24vw;
}
.idtype{
    color: rgba(244,244,244,.5);
    margin-left:5vw;
    width: 32vw;
}
button{
    cursor: pointer;
}
.idnum{
    margin-left: 1vw;
    width: 24vw;
}
.submitbtn{
    margin-left: 5vw;
    background-color: #2DA38F;
    font-size: 2.4vw;
    padding: 0.2vw 1.2vw;
    color: #1e1e1e;
    border: none;
    border-radius: .2rem;
    margin-top: 2vw;
    
}
.tgreen{
    color: #39A279;
}
.green{
    border: 3px solid #181818;
    background: #2DA38F;
}
.addandremove{
    display:flex;
 margin-top: 2vw;
    margin-left: 5vw;
}
.add{
    font-size: 1.8vw;
    background-color: #F6D317;
    padding: 0.2vw 1.2vw;
    border: none;
    border-radius:.2rem ;
}
.remove{
    font-size: 1.8vw;
    border: none;
    padding: 0.2vw 1.2vw;
    border-radius:.2rem ;
    background-color: #DB5356;
    margin-left: 1vw;
}
.idoption{
    background-color: #f4f4f4;
    color: #1e1e1e;
}
.genderoption{
    background-color: #f4f4f4;
    color: #1e1e1e;
}
.passoption{
    background-color: #f4f4f4;
    color: #1e1e1e;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
 
  .footer{
  font-family: 'Uncut-Sans';
    background-image: url("../images/footer-background.svg");
    height:50vw;
    background-size: cover;
    background-color: #181818;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F1F1F1;
    width: 100%;
    height: auto;
    
    
}

.footer-iit{
    margin-top: 7%;
    font-size:2vw;
    text-align: center;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.footer-alcher{
 font-family: 'fsp-demo-freigeist-con-black-5';
    font-size: 12vh;
    font-weight: 1000;
    width:100%;
    height: 20vh;
    text-align: center;
    margin-bottom: 1.5%;

}
.ribbon-case{
    width: 100%;
    background-image: url("../images/ribbon-b.svg"),url("../images/ribbon.svg") ,url("../images/Star.svg"),url("../images/Star.svg");
    background-size: 70vh,70vh,4vh,8vh,6vh;

    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
    background-position: left ,right,12%,75% 86%;
}
.following{
   display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:70%;

}
.contact{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    margin-bottom: 1.5%;

}
.contact-info{
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.namee{
    font-weight: 600;
    margin-bottom: 10%;
    font-size:1.121vw;
}

.phone{
    font-size:1.12vw;

}

.emaile{
    font-size:1.12vw;
}
.creator-info{
    display: flex;
    flex-direction: row;
    font-size: 1.12vw;
    margin-bottom: 2%;
    align-items: flex-end;
}
.business-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 36.4vw;
}
.welcometxt{
font-family: 'Uncut-Sans';
    background-color: #181818;
    color: #f4f4f4;
    text-align: center;
    margin-top: 4vw;
    height: 10vh;
    font-size: 1.2rem;
    background-image: url("../images/Star.svg");
    background-repeat: no-repeat;
    background-size: 6vh;;
    background-position: 77% 0%;
}
.price p{
    padding: 1vw;
    margin: 0;
    font-size: 1.6vw;
}

.bottombar{
    background:rgba(0, 0, 0, 0.9);
    position: sticky;
    z-index: 10;
    width: 100%;
    bottom: 0;
}
.iti__country-list{
    background-color: black !important;
}
.iti__country.iti__highlight {
    background-color: rgb(86 86 86 / 85%) !important;
}
.price{
    color: #f4f4f4;
    margin-left: 5vw;

}
.err {  border-bottom: 1px solid #b1395f;
    background-color: #181818;
background-image: url("../images/Vector2.svg");
background-repeat: no-repeat;
background-size: 1.2rem; 
background-position: right;}
.valid{
    border-bottom: 1px solid #39A279;
    background-color: #1e1e1e;
    background-image: url("../images/Vector.svg") !important;
background-repeat: no-repeat;
background-size: 1.8vw; 
background-position: right;}
.passselected{
    background: #2DA38F;
    position: relative;
}
.passselected::after{
    content: '';
    background: url('../images/wVector.svg');
    position: absolute;
    height: 20px;
    left: 10px;
    top: 50%;
}
.red{
    background: red;
}
@media(min-width:650px){
    .mobile-footer{
        display: none;
    }

}
@media( max-width:850px){
    .iti{
        margin-left: 1.5rem;
        font-size: 1.7vw;
    }
    .iti *{
        margin-bottom: 0;
    }
   h3{
    font-size: medium;
   }
   #attendee{
    font-size: 3vw;
   }
   .passtype{
    padding: 0.3vw 0vw 0.3vw 0.6vw;
   }
   .gender{
    margin-left: 1.5rem;
    width: 15vw;
   }
   .age {
    width: 8vw;
    margin-left: 1rem;
}
.name{
    width: 31.5vw;
}
.email{
    width: 31.5vw;
}
.number {
    margin-left: 1.5rem;
    width: 27vw;
}
.idtype {
    width: 31.5vw;
}
.unt{
    font-size: 0.8rem;
}
.submitbtn{
    font-size: 1rem;
}
.welcometxt{
    font-size: 2vw;
}
.addandremove{
    margin-top: 3vw;
}
.idnum {
    margin-left: 1.5rem;
    width: 27vw;
}
   #introtext{
    font-size: 1rem;
   }
   #heading2{
    font-size: 6.5vw;
   }
    .ribbon-case{
        background-size: 45vh,45vh,4vh,4vh;
    }
   .footer-alcher{
    font-size: 7vh;
   }
   .welcometxt{
    background-size: 2vw;
    background-position: 82% 4%;
   }
   #buypasses{
    font-size: 2.2vw;
   }
}

@media (max-width:650px){
    
    .footer{
        display: none;
    }

}
@media (max-width:650px){ 
    .details {
        margin-left: 3vw;
        display: flex;
        flex-direction: column;
    }
    .navbar{
        padding: 0.5rem 1rem;
    }
    .iti{
        font-size: 2.3vw;
        margin-left: 3vw;
    }
    .info {
        font-size: 2.5vw;
    }
        
    .detailbox {
        font-size: 2.3vw;
        margin-left: 2vw;
        margin-bottom: 1vw;
    }
    .submitbtn {
        margin-top: 3vw;
        font-size: 3vw;
    }
    .remove{
        margin-left: 2vw;
    }
    .unt {
        font-size: 2.5vw;
    }
    .gender {
        width: 25vw;
    }
    .name {
        width: 33vw;
    }
    .age {
        width: 9vw ;
    }
    .email {
        width: 38vw;
    }
    .idtype {
        width: 38vw;
    }
    .idnum {
        width: 30vw;
    }
    .number {
        width: 30vw;
        padding-left: 11vw !important;
    }
    .iti__selected-flag{
        padding: 0;
    }
    .passtype {
        font-size: 2vw;
        width: 20vw;
    }
    h3 {
        font-size: 2.5vw;
    }
    .footer-iit{
       
    margin-top: 7%;
    font-weight: 600;
    font-size: 2.2vw;
}
.footer-alcher{
    font-size: 5vw;
    padding-bottom: 3vw;
}
.namee{
    font-size: 2vw;
    margin-bottom: 1.5vh;
}
.phone{
    font-size: 2vw;
}
.emaile{
    font-size: 2vw;
}
.mobile-footer{
font-family: 'Uncut-Sans';
background-image: url("../images/footer-background.svg");
height:auto;
background-size: cover;
background-color: #1e1e1e;
background-repeat: no-repeat;
}
.ribbon-case{
    
    background-repeat: no-repeat;
    background-size: 35vh,35vh,3vh,4vh;
    background-position: left top , right top, 19% 59% , 70% 32%;

}
.welcometxt{
    font-size: 2vh;
    margin-bottom: 0;
    background-size: 3vh;
background-position: 70% ;
}
.detailbox{
    margin-left: 3vw;
}
.arrow{
    width: 50vw;
margin-left: 3vw;
}
.einput{
    position: relative;
}
.einput img{
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    height: 20px;
}
#heading2{
    font-size: 6vw;
}
#introtext{
    font-size: 2vw;
}
h1{
    font-size: 3vw;
}
#attendee {
    font-size: 3.5vw;
}
#alcherlogo1{
    height: 4vw;
}
}
@media (max-width:450px){ 
    .iti__arrow{
        margin-left: 3px;
    }
    .detailbox{
        margin-bottom: 0vw;
    }
    .number{
        width: 32vw;
    }
}



