{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passportal</title>
    <link rel="stylesheet" href="{% static 'home.css' %}"
  </head>
  <body>
    <div class="topdiv">

    <h1>ALCHERINGA</h1>
    <p>Alcheringa is the annual cultural festival of the Indian Institute of Technology (IIT), Guwahati. Started in 1996 by a group of students, Alcheringa, IIT Guwahati has become one of Asia’s most significant college-level cultural fests. Spread over three days and four nights, Alcheringa attracts people from all over the world with its spectacular events and competitions.</p>
    </div>

    <div class="passdiv">
      <h1>ALCHERINGA PASSES</h1>
      
      <div>
      <h2>ALL SEASON PASSES</h2>
      <p>These passes includes everyday passes within it.</p>
    <div class="seasonpass">
      <div class="earlybird">
        <div>
    <h2>Early Bird</h2>
    <p>Date: {{ context.EarlyBird.date }}</p>
    <p>Price: {{ context.EarlyBird.price }}</p>
    <img src="{{ context.EarlyBird.img }}" alt="Early Bird Image"/>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;">Register &rarr;</a></button></div>
    </div>

    <div class="normal">
      <div>
    <h2>Normal</h2>
    <p>Date: {{ context.Normal.date }}</p>
    <p>Price: {{ context.Normal.price }}</p>
    <img src="{{ context.Normal.img }}" alt="Normal pass Image"/>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;">Register &rarr;</a></button></div>
    </div>
    </div>
    </div>

    <div  >
    <h2>DAY WISE PASSES</h2>
    <p>These passes includes single-day pass as mentioned on it.</p>
    <div class="seasonpass">
      <div>
        <div>
    <h2>Day 1</h2>
    <p>Date: {{ context.Day1.date }}</p>
    <p>Price: {{ context.Day1.price }}</p>
    <img src="{{ context.Day1.img }}" alt="Day 1 pass Image"/>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;">Register &rarr;</a></button></div>
    </div>

    <div>
      <div>
    <h2>Day 2</h2>
    <p>Date: {{ context.Day2.date }}</p>
    <p>Price: {{ context.Day2.price }}</p>
    <img src="{{ context.Day2.img }}" alt="Day 2 pass Image"/>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;">Register &rarr;</a></button></div>
</div>

<div>
  <div>
    <h2>Day 3</h2>
    <p>Date: {{ context.Day3.date }}</p>
    <p>Price: {{ context.Day3.price }}</p>
    <img src="{{ context.Day3.img }}" alt="Day 3 pass Image"/>
    </div>
    <div class="btndiv"><button class="btn"><a href="#" style="text-decoration: none;">Register &rarr;</a></button></div>
    </div>
    </div>
    </div>
    </div>
    
  </body>
</html>
